/* Estilo geral */
body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fundo mais escuro */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Tela de Login */
#login {
    text-align: center;
}

#login h2 {
    font-size: 24px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

#loginForm input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    margin: 10px 0;
    width: 250px;
    outline: none;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s, transform 0.2s;
}

#loginForm input:focus {
    background-color: #444;
    transform: scale(1.05);
}

#loginForm button {
    border-color: #001aff;
    padding: 15px;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #0104c9 inset, 0 0 0 0 #0104c9;
    transition: all 150ms ease-in-out;
}

#loginForm button:hover {
    box-shadow: 0 0 10px 0 #000f96 inset, 0 0 10px 4px #000f96;
}

/* Tela de seleção de salas */
#roomsScreen {
    text-align: center;
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Título */
#roomsScreen h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #fff;
}

/* Lista de Salas */
#roomList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Item da lista de salas */
#roomList li {
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

#roomList li:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Barra de senha */
#privateRoomPasswordSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#privateRoomPassword {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
    outline: none;
    transition: background-color 0.3s;
}

#privateRoomPassword:focus {
    background-color: #444;
}

/* Botão de "Join Room" */
#joinPrivateRoom {
    padding: 10px 10px;
    background-color: #090694;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}

#joinPrivateRoom:hover {
    background-color: #090694;
    transform: scale(1.05);
}

/* Botão de Criar Sala */
#createRoomButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
}

#createRoomButton:hover {
    background-color: #218838;
    transform: scale(1.05);
}

/* Botão de Voltar */
#backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    border: none;
    transition: transform 0.2s;
}

#backButton:hover {
    transform: scale(1.2);
    color: #007bff;
}

/* Tela de Chat */
#chatScreen {
    background-color: #121212;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh; /* Altura limitada para o chat */
    overflow: hidden; /* Evitar que o conteúdo ultrapasse a tela */
    position: relative; /* Para poder posicionar o formulário de forma fixa */
}

/* Mensagens */
#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 70%; /* Define a altura máxima para a área de mensagens */
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Distância entre as mensagens */
    margin-bottom: 20px; /* Espaçamento entre as mensagens e a barra de entrada */
}

/* Mensagens individuais */
#messages li {
    padding: 10px;
    border-radius: 15px;
    background-color: #333;
    color: white;
    animation: fadeInMessage 0.5s ease-in-out;
    word-wrap: break-word;
    display: inline-block;
    max-width: 80%; /* Ajusta a largura máxima para 80% da área de mensagens */
    box-sizing: border-box;
    white-space: pre-wrap;
}

/* Mensagens do usuário */
#messages .my-message {
    background-color: #007bff;
    text-align: left;
    margin-left: auto; /* Alinha à direita */
}

/* Mensagens dos outros */
#messages .other-message {
    background-color: #505050;
    text-align: left;
    margin-right: auto; /* Alinha à esquerda */
}

/* Estilo para a imagem */
#messages .my-message img, #messages .other-message img {
    max-width: 100%; /* A imagem não ultrapassa a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px;
    margin-top: 5px; /* Adiciona um pequeno espaço entre a imagem e o texto */
    display: block; /* Garante que a imagem ocupe sua própria linha */
    margin-left: 0;
}

/* Barra de entrada de mensagens */
#form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute; /* Fixa o formulário na parte inferior */
    bottom: 10px; /* Distância da parte inferior da tela */
    left: 0.5px;
    right: 10px;
    box-sizing: border-box; /* Inclui a margem e o padding no cálculo da largura */
}

#form input {
    width: 85%; /* O campo de entrada ocupa a maior parte da tela */
    padding: 10px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 20px;
    color: white;
    margin-right: 10px;
    outline: none;
    box-sizing: border-box; /* Para garantir que o campo de texto não ultrapasse os limites */
}

#form input:focus {
    background-color: #444;
}

:root {
    --color: #0cf;
}

#form button {
    display: flex;  /* Usando flexbox para alinhar o texto corretamente */
    justify-content: center;  /* Centralizando o conteúdo horizontalmente */
    align-items: center;  /* Centralizando o conteúdo verticalmente */
    padding: 0.65rem 0,60rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: var(--color);
    border: none;
    cursor: pointer;
    width: 15%;
    box-sizing: border-box;
}

#form button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color);
    border-radius: 10rem;
    z-index: -2;
}

#form button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #009b99;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

#form button:hover {
    color: #fff;
}

#form button:hover::before {
    width: 100%;
}

/* Reset opcional para a apresentação */
* {
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

/* Estilizando o botão de envio de imagem */
#sendImageButton {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#sendImageButton i {
    font-size: 1.2rem;
}

#sendImageButton:hover {
    background-color: #218838;
}

/* Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: 10px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

/* Fechar botão */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInMessage {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
